body {
  background-color: white !important;
}

.introText {
  font-family: "Lora", serif;
  font-size: 1000%;
  padding: 5%;
}

.homeDisp {
  max-width: 90%;
  margin: auto;
  background-color: rgb(250, 249, 242) !important;
  padding: 10px;
  box-shadow: 3px 0px 10px #d1d1d1, -3px 0px 10px #d1d1d1;
}

.pageImg {
    padding-top: 5%;
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}